<!DOCTYPE html>
<html lang="en">
<head>
	<title>SNOW</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title title_padding" >
					<span class="login100-form-title-1">
						Face authentication
					</span>
                </div>
                <div id="live">
                    <div  style=" min-height:490px;display: flex;align-items: center; justify-content: space-evenly; padding: 20px 40px 0px 40px;">
                        <div id="my_camera" class="camera_login">
                        </div>
                        <div style="display: flex; align-items: center;justify-content: center; width: 200px; height: 200px;">
                            <button  type="button" class="btn-custom btn-blue" onclick="take_snapshot()" style="align-self: center;">
                                Take a snap!
                            </button>
                        </div>  
                    </div>
                </div>
                <div id="preview" style="display: none;">
                    <div style="min-height:490px;display: flex;align-items: center; justify-content: space-evenly; padding: 20px 40px 0px 40px;">
                        <div id="image_container" class="camera_login image_cont">
                        </div>
                        <div style="display: flex;   flex-direction: column; align-items: center ;justify-content: space-evenly; width: 200px; height: 200px;">
                            <button  type="button" class="btn-custom btn-blue" onclick="take_snapshot()" style="align-self: center;">
                                Retry!
                            </button>
                            <button id="lgbtn" type="button" class="login100-form-btn float-right" onclick="login();">
                                Login
                            </button>
                        </div>  
                    </div>
                </div>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', filename='js/webcam.js') }}"></script>


    
    <script>

        Webcam.set({
			width: 300,
			height: 300,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
       	Webcam.attach( '#my_camera' ); 

        function take_snapshot() {
            // take snapshot and get image data
            Webcam.snap( function(data_uri) {
            // display results in page
                document.getElementById('image_container').innerHTML = '<img id="imageprev" style = "position: relative; height: 300px; width: 300px;" src="'+data_uri+'"/>';
            
            } );
            $("#live").toggle();
            $("#preview").toggle();
        }

        function retry(){
            $("#live").toggle();
            $("#preview").toggle();
        }

        function uploadImage(){
            console.log("uploading photo");
            var image = $("#imageprev").attr('src');
            var fd = new FormData();
            fd.append('file',image);
            fd.append('userID','popping');
            $.ajax({
                url: '/auth/login_face',
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    //alert(data);
                    window.location.href=data;
                }
            });
        }

        function login(){
            uploadImage();

        }


    </script>


</body>
</html>