<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title title_padding" >
					<span class="login100-form-title-1">
						Registration form
					</span>
				</div>
				<div class="stepwizard">
					<div class="stepwizard-row setup-panel">
						<div class="stepwizard-step">
							<a id="step-1" href="#step-1" type="button" class="btn btn-default btn-circle btn-blue">1</a>
							<p>Step 1</p>
						</div>
						<div class="stepwizard-step">
							<a id="step-2" href="#step-2" type="button" class="btn btn-default btn-circle btn-white" disabled="disabled">2</a>
							<p>Step 2</p>
						</div>
						<div class="stepwizard-step">
							<a id="step-3" href="#step-3" type="button" class="btn btn-default btn-circle btn-white" disabled="disabled">3</a>
							<p>Step 3</p>
						</div>
					</div>
				</div>
				<form class="login100-form form_padding">
					
					<div id="step1">
						<div class="wrap-input100 validate-input m-b-26" >
							<span class="label-input100">Name</span>
							<input class="input100" type="text" name="username" placeholder="Name">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-18" >
							<span class="label-input100">Last name</span>
							<input class="input100" type="password" name="lastname" placeholder="Last name">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-18" >
							<span class="label-input100">Email</span>
							<input class="input100" type="password" name="email" placeholder="Email">
							<span class="focus-input100"></span>
						</div>
					</div>
					<div id="step2" style="display: none;">
						<div class="wrap-input100 validate-input m-b-26" >
							<span class="label-input100">Birthday</span>
							<input class="input100" type="text" name="birthday" placeholder="Birthday">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-18" >
							<span class="label-input100">Address</span>
							<input class="input100" type="password" name="addr" placeholder="Address">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-18 form-check form-check-inline" >
							<span class="label-input100">Sex</span>
							<input type="radio" class="form-check-input" name="sx" value="M" id="sxm">
							<label class="form-check-label" for="sxm">M</label>
							<input type="radio" class="form-check-input" name="sx" value="F" id="sxf">
							<label class="form-check-label" for="sxf">F</label>
							<span class="focus-input100"></span>
						</div>
					</div>
					<div id="step3" style="display: none;">
						<div class="wrap-input100 validate-input m-b-26" >
							<span class="label-input100">Social</span>
							<select class="form-control" style="width: 100%;" id="social" name="social[]" multiple="multiple">
								<option value="fb">Facebook</option>
								<option value="tw">Twitter</option>
								<option value="inst">Instagram</option>
							</select>
						</div>

						<div class="wrap-input100 validate-input m-b-18" >
							<span class="label-input100">Interest</span>
							<select class="form-control" style="width: 100%;" id="Interest" name="Interest[]" multiple="multiple">
							</select>
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-18" >
							<span class="label-input100">Music</span>
							<select class="form-control" style="width: 100%;" id="music" name="music[]" multiple="multiple">
							</select>
							<span class="focus-input100"></span>
						</div>
					</div>

					<!--<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div> -->

					<div class="container-login100-form-btn content_left">
						<button type="button" class="login100-form-btn" onclick="preStep();">
							Back
						</button>
						<button type="button" class="login100-form-btn" onclick="nextStep();">
							Next
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
	<script>
		var step = 3;
		var actual_step = 1;
		function nextStep(){
			$("#step"+actual_step).hide();
			$("#step-"+actual_step).toggleClass("btn-blue btn-white");
			if(actual_step == step)
				actual_step = 1;
			else
				actual_step +=1;
			$("#step"+actual_step).show();
			$("#step-"+actual_step).toggleClass("btn-blue btn-white");
		}

		function preStep(){
			$("#step"+actual_step).hide();
			$("#step-"+actual_step).toggleClass("btn-blue btn-white");
			if(actual_step == 1)
				actual_step = step;
			else
				actual_step -=1;
			$("#step"+actual_step).show();
			$("#step-"+actual_step).toggleClass("btn-blue btn-white");
		}

		$(document).ready(function(){
			var date_input=$('input[name="birthday"]'); //our date input has the name "date"
			var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
			var options={
				format: 'dd/mm/yyyy',
				container: container,
				todayHighlight: true,
				autoclose: true,
			};
			date_input.datepicker(options);

			$('#social').select2();
		})
	</script>
</body>
</html>