<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="snow.css">-->
        <style>
            body {
                background-color: #1565c0;
                height:600px;
            }
            .card-dimensions{
                width: 100%;
                height: 180px;
                padding: 5px;
            }
            .card_bg{
                background-color: #1565c0;
                border-color: #EFEFEF;
            }
            .white-box {
                background-color: #EFEFEF;  
            }
            .btn-outline-primary:hover {
                color: #fff;
                background-color: #1565c0 !important;
                border-color: #1565c0 !important;
            }
            .btn-outline-primary{
                color: #1565c0 ;
                border-color: #1565c0 !important;
            }
        </style>
        <title>Snow - register</title>
    </head>
    <body>
        <div class="container h-100">
            <div class="row h-100 row align-items-center">
                <div class="col-sm"></div>
                <div class="col-sm-9">
                    <div class="card card_bg">
                        <div class="card-body white-box">
                            <h5 class="card-title">SNOW registration</h5>
                            <p class="card-text">Complete the form below and click the submit button to complete the registration procedure.</p>
                            <form method="POST">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">Name</span>
                                    </div>
                                    <input id="uname" name="uname" type="text" class="form-control" placeholder="Name" aria-label="Recipient's name" aria-describedby="basic-addon2">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">Lastname</span>
                                    </div>
                                    <input id="ulast" name="ulast" type="text" class="form-control" placeholder="Lastname" aria-label="Recipient's Lastname" aria-describedby="basic-addon2">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">Email</span>
                                    </div>
                                    <input id="email" name="email" type="text" class="form-control" placeholder="abcd@example.com" aria-label="Email address" aria-describedby="basic-addon2">
                                </div>
                                <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="fb">
                                    <label class="form-check-label" for="inlineCheckbox1">Facebook</label>
                                </div>
                                <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="tw">
                                    <label class="form-check-label" for="inlineCheckbox2">Twitter</label>
                                </div>
                                <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="in">
                                    <label class="form-check-label" for="inlineCheckbox1">Instagram</label>
                                  </div>
                                
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>