<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
	<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title title_padding" >
					<span class="login100-form-title-1 home-btn" onclick="window.location.href='{{ url_for('auth.start') }}';">
						<i class="fa fa-home"></i>
					</span>
					<span class="login100-form-title-1">
						Registration form
					</span>
					<span class="login100-form-title-1 dummy">

					</span>
				</div>
				<div class="stepwizard">
					<div class="stepwizard-row setup-panel">
						<div class="stepwizard-step">
							<a id="step-1" href="#step-1" type="button" class="btn btn-default btn-circle btn-blue">1</a>
							<p>Step 1</p>
						</div>
						<div class="stepwizard-step">
							<a id="step-2" href="#step-2" type="button" class="btn btn-default btn-circle btn-white" disabled="disabled">2</a>
							<p>Step 2</p>
						</div>
						<div class="stepwizard-step">
							<a id="step-3" href="#step-3" type="button" class="btn btn-default btn-circle btn-white" disabled="disabled">3</a>
							<p>Step 3</p>
						</div>
						<div class="stepwizard-step">
							<a id="step-4" href="#step-4" type="button" class="btn btn-default btn-circle btn-white" disabled="disabled">4</a>
							<p>Step 4</p>
						</div>
						<div class="stepwizard-step">
							<a id="step-5" href="#step-5" type="button" class="btn btn-default btn-circle btn-white" disabled="disabled">5</a>
							<p>Step 5</p>
						</div>
						<div class="stepwizard-step">
							<a id="step-6" href="#step-6" type="button" class="btn btn-default btn-circle btn-white" disabled="disabled">6</a>
							<p>End</p>
						</div>
					</div>
				</div>
				<form class="login100-form form_padding" id="form">
					
					<div id="step1" class="step-flex">
						<div class="step-wrapper">

							<div class="wrap-input100 validate-input m-b-26" >
								<span class="label-input100">Name</span>
								<input id="uname" class="input100" type="text" name="uname" placeholder="Name">
								<span class="focus-input100"></span>
							</div>

							<div class="wrap-input100 validate-input m-b-18" >
								<span class="label-input100">Last name</span>
								<input  id="ulast" class="input100" type="text" name="ulast" placeholder="Last name">
								<span class="focus-input100"></span>
							</div>

							<div class="wrap-input100 validate-input m-b-18" >
								<span class="label-input100">Email</span>
								<input id="email" class="input100" type="text" name="email" placeholder="Email">
								<span class="focus-input100"></span>
							</div>

							
							<div class="wrap-input100 validate-input m-b-18 form-check form-check-inline" style="padding-left: 20px;">
								<span class="label-input100">Premium</span>
								<input type="radio" class="form-check-input" name="premium" value="0" >
								<label class="form-check-label" for="sxm">Y</label>
								<input type="radio" class="form-check-input" name="premium" value="1" checked="checked">
								<label class="form-check-label" for="sxf">N</label>
								<span class="focus-input100"></span>
							</div>
						</div>

					</div>
					<div id="step2" class="step-flex" style="display: none;">
						<div class="step-wrapper">
							<div class="wrap-input100 validate-input m-b-26" >
								<span class="label-input100">Birthday</span>
								<input id="birthday" class="input100" type="text" name="birthday" placeholder="Birthday">
								<span class="focus-input100"></span>
							</div>

							<div class="wrap-input100 validate-input m-b-26" >
								<span class="label-input100">Profession</span>
								<input id="birthday" class="input100" type="text" name="profession" placeholder="Profession">
								<span class="focus-input100"></span>
							</div>

							<div class="wrap-input100 validate-input m-b-18" >
								<span class="label-input100">Address</span>
								<input id="addr" class="input100" type="text" name="addr" placeholder="Address">
								<span class="focus-input100"></span>
							</div>

							<div class="wrap-input100 validate-input m-b-18 form-check form-check-inline" style="padding-left: 20px;">
								<span class="label-input100">Sex</span>
								<input type="radio" class="form-check-input" name="sx" value="M" id="sxm" checked="checked">
								<label class="form-check-label" for="sxm" >M</label>
								<input type="radio" class="form-check-input" name="sx" value="F" id="sxf">
								<label class="form-check-label" for="sxf">F</label>
								<span class="focus-input100"></span>
							</div>
						</div>
					</div>
					<div id="step3" class="step-flex" style="display: none;">
						<div class="step-wrapper">
							<div class="wrap-input100 validate-input m-b-26" >
								<span class="label-input100">Social</span>
								<select id="social" class="form-control" style="width: 100%;" name="social[]"  multiple="multiple">
									<option value="fb">Facebook</option>
									<option value="tw">Twitter</option>
									<option value="inst">Instagram</option>
								</select>
							</div>

							<div class="wrap-input100 validate-input m-b-18" >
								<span class="label-input100">Interest</span>
								<select class="form-control" style="width: 100%;" id="interest" name="interest[]">
									
								</select>
								<span class="focus-input100"></span>
							</div>

							<div class="wrap-input100 validate-input m-b-18" >
								<span class="label-input100">Music</span>
								<select class="form-control" style="width: 100%;" id="music" name="music[]" >
								</select>
								<span class="focus-input100"></span>
							</div>
						</div>
					</div>

					<!--<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div> -->

					<div id="step4" style="display: none;">
						<div style="display: flex; flex-direction: column;justify-content: space-between; height: 100%;">
							<div style="display: flex;align-items: center; justify-content: space-evenly;">
								<div id="my_camera" class="camera_login"></div>
								<div style="display: flex;   flex-direction: column; align-items: center ;justify-content: space-evenly; width: 180; height: 180px;">
									<button  type="button" class="btn-custom btn-blue" onclick="take_snapshot()" style="margin-left: 15px;align-self: center;">
										Take a snap!
									</button>
									<div id="btn_wrap" style="display: none;">
										<button  type="button" class="btn-custom btn-blue" onclick="uploadimg()" style="margin-left: 15px;align-self: center;">
											upload!
										</button>
									</div>
								</div>  
							</div>
							<div style="display: flex;align-items: center; justify-content: space-between;">
								<div id="snap-1" class="camera_login image_snap"></div>
								<div id="snap-2" class="camera_login image_snap"></div>
								<div id="snap-3" class="camera_login image_snap"></div>
							</div>
						</div>
						
					</div>
					<div id="step5" style="display: none;">
						<div id="voiceinsruction" style="height: 100%;">
							<div style="display: flex;align-items: center;flex-direction: column; justify-content: space-evenly; height: 100%;">
								<p style="text-align: center;">
									<b>Voice acquisition procedure:</b></br>
									By pressing the start button a text will be desplayd and the recording will start!
									Read the text loudly, the recording will automatically stop after 30 seconds.
								</p>
								<button  type="button" class="btn-custom btn-blue" onclick="start_rec()">
									Start!
								</button>
							</div>  
						</div>
						<div id="textrec" style="display: none; height:100%;">
							<div style="display: flex;align-items: center;flex-direction: column; justify-content: space-evenly; height:100%;">
								<p class="text-overflow">
									La torre di Pisa (popolarmente torre pendente e, a Pisa, la Torre) è il campanile della cattedrale di Santa Maria Assunta, nella celeberrima piazza del Duomo di cui è il monumento più famoso per via della caratteristica pendenza, simbolo di Pisa e fra i simboli iconici d'Italia. Si tratta di un campanile a sé stante alto 57 metri (58,36 metri considerando il piano di fondazione)[1] costruito nell'arco di due secoli, tra il dodicesimo e il quattordicesimo secolo. Con una massa di 14.453 tonnellate,[1][2] vi predomina la linea curva, con giri di arcate cieche e sei piani di loggette. La pendenza è dovuta a un cedimento del terreno sottostante verificatosi già nelle prime fasi della costruzione.
L'inclinazione dell'edificio misura 3,9° rispetto all'asse verticale. La torre è gestita dall'Opera della Primaziale Pisana,[4] ente che gestisce tutti i monumenti della piazza del Duomo di Pisa. È stata proposta come una delle sette meraviglie del mondo moderno. 
I lavori iniziarono il 9 agosto 1173. Come era solito fare con i fari e con le costruzioni adiacenti al mare in genere, le fondamenta vennero lasciate a riposare per un anno intero. Alcuni studi attribuiscono la paternità del progetto all'architetto pisano Diotisalvi, che nello stesso periodo stava costruendo il battistero. 
								</p>
								<div style="display: flex; justify-content: space-around;align-items: center; width: 100%;">
									<div id="recording" style="width:20px;height:20px;background-color:red;border-radius: 50%;"></div>
									<button  type="button" class="btn-custom btn-blue" onclick="stopRecording()">
										Stop
									</button>
								</div>  
							</div>
							
					<!--<div id="live">
                    <div  style=" min-height:490px;display: flex;align-items: center; justify-content: space-evenly; padding: 20px 40px 0px 40px;">
						<div id="results" >

							<div id="controls" style="position: relative;top: 20%">
							<div id="formats">Click on Record and read this text for minimum 30 seconds </div>
									<button type="button" id="recordButton">Record</button>
									<button type="button" id="pauseButton" >Pause</button>
									<button type="button" id="stopButton" >Stop</button>
								<ol id="recordingsList"></ol>
							</div>
						</div> 
						</div>
					</div>-->


						</div>
						<div id="recend" style="height: 100%;display: none;"> 
							<div style="display: flex;align-items: center;flex-direction: column; justify-content: space-evenly; height: 100%;">
								<p style="text-align: center;">
									<b>Voice acquisition ended succesfully!</b></br>
									Press the retry button if you want to execute again the recording procedure.
								</p>
								<button  type="button" class="btn-custom btn-blue" onclick="start_rec()">
									Retry!
								</button>
							</div>
						</div>
					</div>
				</form>
				<div id="step6" style="display: none;" class="formend">
					<button id="complete" type="button" class="btn-custom btn-blue " onclick="complete_reg()">Complete Registration</button>
				</div>
				<div class="container-login100-form-btn " style="display: flex; padding:5px;justify-content: flex-end;">
					<button id="bkbtn" type="button" class="login100-form-btn float-left" onclick="preStep();" style="display: none; margin-right: auto;">
						Back
					</button>
					<button id="nxbtn" type="button" class="login100-form-btn float-right" onclick="nextStep();" >
						Next
					</button>
				</div>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
	<script src="{{ url_for('static', filename='js/webcam.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
	 <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
	<script>

		var fade_stat = 0;
		var fade_int;
		var snap = 3
		var actual_snap = 0;
		var total_snap = 0;

		var step = 6;
		var actual_step = 1;
		function nextStep(){
			if(step == actual_step)
				return;
			$("#step"+actual_step).hide();
			$("#step-"+actual_step).toggleClass("btn-blue btn-white");
			if(actual_step == step-1)
				$("#form").hide();
			actual_step+=1;
			$("#step"+actual_step).show();
			$("#step-"+actual_step).toggleClass("btn-blue btn-white");
			if(actual_step == step){
				$("#nxbtn").hide();
			}
			else{
				$("#nxbtn").show();
			}
			if(actual_step == 1){
				$("#bkbtn").hide();
			}
			else{
				$("#bkbtn").show();
			}
		}

		function preStep(){
			if(actual_step == 1)
				return;
			$("#step"+actual_step).hide();
			$("#step-"+actual_step).toggleClass("btn-blue btn-white");
			if(actual_step == step)
				$("#form").show();
			actual_step -=1;
			$("#step"+actual_step).show();
			$("#step-"+actual_step).toggleClass("btn-blue btn-white");
			if(actual_step == step){
				$("#nxbtn").hide();
			}
			else{
				$("#nxbtn").show();
			}
			if(actual_step == 1){
				$("#bkbtn").hide();
			}
			else{
				$("#bkbtn").show();
			}
		}
		Webcam.set({
			width: 180,
			height: 180,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
       	Webcam.attach( '#my_camera' ); 

		$(document).ready(function(){
			var date_input=$('input[name="birthday"]'); //our date input has the name "date"
			var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
			var options={
				format: 'dd/mm/yyyy',
				container: container,
				todayHighlight: true,
				autoclose: true,
			};
			date_input.datepicker(options);

			$('#social').select2({
				placeholder: "Social",
				multiple: true
			});
			$('#interest').select2({
				placeholder: "Interests",
				tags: true,
				multiple: true
			});
			$('#music').select2({
				placeholder: "Music",
  				tags: true,
				multiple: true
			});
		})

		function take_snapshot() {
            // take snapshot and get image data
			total_snap +=1;
			actual_snap +=1;
			if(actual_snap > snap)
				actual_snap =1;
            Webcam.snap( function(data_uri) {
            // display results in page
                document.getElementById('snap-'+actual_snap).innerHTML = '<img id="imageprev'+actual_snap+'" style = "position: relative; height: 100px; width: 100px;" src="'+data_uri+'"/>';
            } );
			$("#snap-"+actual_snap).toggleClass("blue-bg");
			if(actual_snap == snap)
				$('#btn_wrap').show();
    
        }

		function start_rec(){
			$('#voiceinsruction').hide();
			$('#textrec').show();
			$('#recend').hide();
			setTimeout(stopRecording, 30000);
			fade_int = setInterval(fade, 2000);
			startRecording();
		}

		function fade(){
			$('#recording').fadeToggle(3000);
		}

		function uploadimg(){
			console.log("uploading photo");
			var fd = new FormData();
			for(i=1;i<=snap;i++){
				var image = $("#imageprev"+i).attr('src');
				fd.append('file'+i,image);
			}
			fd.append('op','saveimg');

            $.ajax({
                url: '/auth/register',
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    alert(data);
                }
            });
		}

		function getFormData($form){
			var unindexed_array = $form.serializeArray();
			var indexed_array = {};
			$.map(unindexed_array, function(n, i){
				if(n['name'].includes('[]'))
					n['name']=n['name'].replace("[]","");
				if(indexed_array[n['name']]){
					if(!indexed_array[n['name']].push){
						indexed_array[n['name']] = [indexed_array[n['name']]];
					}
					indexed_array[n['name']].push(n['value']||'');
				}
				else{
					indexed_array[n['name']] = n['value']||'';
				}
			});

			return indexed_array;
		}

		function complete_reg(){
			var form_data = getFormData($('#form'));
			console.log(form_data);


			console.log("registrating new user");
			var fd = new FormData();
			if(total_snap >=3){
				for(i=1;i<=snap;i++){
					var image = $("#imageprev"+i).attr('src');
					fd.append('file'+i,image);
				}
				fd.append('img_loaded','1');
			}
			else{
				fd.append('img_loaded','0');
			}
			fd.append('op','reg_new_user');
			fd.append('user_data',JSON.stringify(form_data));
            $.ajax({
                url: '/auth/register',
                data: fd,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    window.location.href = data;
                }
            });
		}
//global variables
var usercount = 0;
   function dataURItoBlob(dataURI) {
  // convert base64 to raw binary data held in a string
  // doesn't handle URLEncoded DataURIs - see SO answer #6850276 for code that does this
  var byteString = atob(dataURI.split(',')[1]);

  // separate out the mime component
  var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]

  // write the bytes of the string to an ArrayBuffer
  var ab = new ArrayBuffer(byteString.length);

  // create a view into the buffer
  var ia = new Uint8Array(ab);

  // set the bytes of the buffer to the correct values
  for (var i = 0; i < byteString.length; i++) {
      ia[i] = byteString.charCodeAt(i);
  }

  // write the ArrayBuffer to a blob, and you're done
  var blob = new Blob([ab], {type: mimeString});
  return blob;

} 

    
URL = window.URL || window.webkitURL;

var gumStream; 						//stream from getUserMedia()
var rec; 							//Recorder.js object
var input; 							//MediaStreamAudioSourceNode we'll be recording

// shim for AudioContext when it's not avb. 
var AudioContext = window.AudioContext || window.webkitAudioContext;
var audioContext //audio context to help us record

/*var recordButton = document.getElementById("recordButton");
var stopButton = document.getElementById("stopButton");
var pauseButton = document.getElementById("pauseButton");

//add events to those 2 buttons
recordButton.addEventListener("click", startRecording);
stopButton.addEventListener("click", stopRecording);
pauseButton.addEventListener("click", pauseRecording);*/

function startRecording() {
	console.log("recordButton clicked");

	/*
		Simple constraints object, for more advanced audio features see
		https://addpipe.com/blog/audio-constraints-getusermedia/
	*/
    
    var constraints = { audio: true, video:false }

 	/*
    	Disable the record button until we get a success or fail from getUserMedia() 
	*/

	/*
    	We're using the standard promise based getUserMedia() 
    	https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia
	*/

	navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
		console.log("getUserMedia() success, stream created, initializing Recorder.js ...");

		/*
			create an audio context after getUserMedia is called
			sampleRate might change after getUserMedia is called, like it does on macOS when recording through AirPods
			the sampleRate defaults to the one set in your OS for your playback device
		*/
		audioContext = new AudioContext(/*{sampleRate:16000,} DOESN'T WORK ON FIREFOX OR CHROME*/);

		//update the format 
		//document.getElementById("formats").innerHTML="Format: 1 channel pcm @ "+audioContext.sampleRate/1000+"kHz"

		/*  assign to gumStream for later use  */
		gumStream = stream;
		
		/* use the stream */
		input = audioContext.createMediaStreamSource(stream);
		
		/* 
			Create the Recorder object and configure to record mono sound (1 channel)
			Recording 2 channels  will double the file size
		*/
		rec = new Recorder(input,{numChannels:1})
		console.log("rrr")
		//start the recording process
		rec.record()

		console.log("Recording started");

	}).catch(function(err) {
	  	//enable the record button if getUserMedia() fails

	});
}

function pauseRecording(){
	console.log("pauseButton clicked rec.recording=",rec.recording );
	if (rec.recording){
		//pause
		rec.stop();
		pauseButton.innerHTML="Resume";
	}else{
		//resume
		rec.record()
		pauseButton.innerHTML="Pause";

	}
}

function stopRecording() {

	clearInterval(fade_int);
	$("#recend").show();
	$('#textrec').hide();
	console.log("stopButton clicked");

	//disable the stop button, enable the record too allow for new recordings
	/*stopButton.disabled = true;
	recordButton.disabled = false;
	pauseButton.disabled = true;*/

	//reset button just in case the recording is stopped while paused
	/*pauseButton.innerHTML="Pause";*/
	
	//tell the recorder to stop the recording
	rec.stop();

	//stop microphone access
	gumStream.getAudioTracks()[0].stop();

	//create the wav blob and pass it on to the
	rec.exportWAV(uploadWav);
}


    function uploadWav(blob){


            $.ajax({
                url: '/auth/register_voice',
                data: blob, 
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    console.log(data);
                }
            });
        }


	</script>
</body>
</html>