<!DOCTYPE html>
<html lang="en">
<head>
	<title>SNOW</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animsition/css/animsition.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
<!--===============================================================================================-->
</head>
<body>
    <div class="row justify-content-center">
            {% if g.users|length == 0%}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Matching not found!</h4>
                <p>Please try again the login procedure.</p>
                <hr>
                <!--<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>-->
              </div>
            {% endif %}
            {% for user in g.users %}
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-body">
                        <center class="m-t-30"> 
                            {% if user['sx'] == "M" %}
                            <img src="{{ url_for('static', filename='assets/user-icon/png/user-16.png') }}" class="img-circle" width="150">
                            {% else %}
                            <img src="{{ url_for('static', filename='assets/user-icon/png/user-7.png') }}" class="img-circle" width="150">
                            {% endif %}
                            <h4 class="card-title m-t-10">{{user['uname'] + ' '+ user['ulast']}}</h4>
                            <h6 class="card-subtitle">{{ user['profession'] }}</h6> 
                            <div class="row text-center justify-content-md-center">
                                {% if user['premium'] == 1 %}
                                <div class="col-4"><a href="javascript:void(0)" class="link"><i class="fa fa-trophy"></i> <font class="font-medium">Premium</font></a></div>
                                {% else %}
                                <div class="col-4" style="visibility: hidden;"><a href="javascript:void(0)" class="link"><i class="fa fa-trophy"></i> <font class="font-medium">Premium</font></a></div>
                                {% endif %}
                                <!-- <div class="col-4"><a href="javascript:void(0)" class="link"><i class="fa fa-image"></i> <font class="font-medium">{{user['SX']}}</font></a></div> -->
                            </div> 
                        </center>
                    </div>
                    <div>
                    <hr> </div>
                    <div class="card-body"> 
                        <small class="text-muted">Email address </small><h6>{{user['email']}}</h6> 
                        <small class="text-muted">Birthday </small><h6>{{user['birthday']}}</h6> 
                        <!--<small class="text-muted p-t-30 db">Phone</small><h6>+91 654 784 547</h6> -->
                        <small class="text-muted p-t-30 db">Social Profile</small>
                        <br>
                        {% if 'fb' in user['social'] %}
                        <button class="btn btn-circle btn-secondary" ><i class="fa fa-facebook"></i></button>
                        {% endif %}
                        {% if 'tw' in user['social'] %}
                        <button class="btn btn-circle btn-secondary" ><i class="fa fa-twitter"></i></button>
                        {% endif %}
                        {% if 'inst' in user['social'] %}
                        <button class="btn btn-circle btn-secondary" ><i class="fa fa-instagram"></i></button>
                        {% endif %}
                        <br>
                        <small class="text-muted p-t-30 db">Interests</small><br>
                        {% for interest in user['interest']%}
                        <span class="badge badge-pill badge-primary">{{interest}}</span>
                        {% endfor %}
                        <br>
                        <small class="text-muted p-t-30 db">Music</small><br>
                        {% for music in user['music']%}
                        <span class="badge badge-pill badge-light">{{music}}</span>
                        {% endfor %}
                        <br>
                        <small class="text-muted p-t-30 db">Address</small><h6>{{user['addr']}}</h6>
                        <div class="map-box">
                            <iframe src="https://www.google.com/maps/embed?pb=via+pietro+giordani+8+pisa+56123;output=embed" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div> 
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
	
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!--<div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
</body>
</html>